# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.cursor
.swc
.test-history
.cursorrules
COMPONENT_STRUCTURE.md
CSV_IMPORT_GUIDE.md
DEV_TOOLS.md
FOLDER_STRUCTURE_MIGRATION.md
KNOCK_SETUP.md
TEST_DASHBOARD.md
TEST_IMPROVEMENTS_SUMMARY.md
TEST_SUMMARY.md
test-output.txt
test-report.json
test-results.json
TESTING.md
TODO
jest-output.json
PRD.md
DATABASE_SCHEMA_REFERENCE.md
IMPLEMENTATION_PLAN.md
linear-import-script.js

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sentry Config File
.env.sentry-build-plugin
API_DOCUMENTATION.md
COMPONENT_DOCUMENTATION.md